.movieCard {
  list-style: none;
  font-size: 1rem;
  text-align: center;
  transition: 0.5s;
}
.movieCard:hover {
  opacity: 0.3;
  transform: translateY(-20px);
  transition: 0.5;
}
.movieImage {
  border-radius: 30px;
}
.title {
  color: white;
}
@media (max-width: 560px) {
  .movieImage {
    width: 100%;
    height: auto;
  }
}
